body {
    font-size: 1.125rem;
    color: $text-color;
    min-width: 320px;
    font-family: sans-serif;
    background-color: #ffffff;
}

h1, h2, h3, h4 {
    margin: 0rem 0rem 1.5rem 0rem;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

h3, h4, h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    margin: 0rem 0rem 1.25rem 0rem;
    line-height: 1.57;
}

a {
    text-decoration: none;
    color: $light-sea-green;
    transition: all 0.15s ease-in;
}

a:hover {
    text-decoration: underline;
    color: $light-sea-green;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 65px;
    color: #ffffff;
    background: $orange;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    white-space: nowrap;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.15s ease-in;

    &__subject {
        display: block;
        font-size: 0.75rem;
        font-weight: normal;
        padding-top: 3px;
    }
    
    @include respond(md) {
        padding: 15px 50px;
    }
 
    @include respond(xs) {
        padding: 15px 45px;
    }
    
    &:before,
    &:after {
        content: "";
        top: 50%;
        width: 16px;
        height: 16px;
        position: absolute;
        transform: translateY(-50%);
        background-image: url("../images/arrows.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @include respond(md) {
            width: 12px;
            height: 12px;
        }
    }

    &:before {
        left: 20px;
    }

    &:after {
        right: 20px;
    }

    &_huge {
        font-size: 2.25rem;
        padding: 30px 105px;

        .button__subject {
            font-size: 1.5rem;

            @include respond(md) {
                font-size: 0.875rem;
            }
        }

        &:before,
        &:after {
            width: 24px;
            height: 24px;

            @include respond(md) {
                width: 14px;
                height: 14px;
            }
        }

        &:before {
            left: 40px;

            @include respond(md) {
                left: 20px;
            }

            @include respond(md) {
                left: 15px;
            }
        }
    
        &:after {
            right: 40px;

            @include respond(md) {
                right: 20px;
            }

            @include respond(md) {
                right: 15px;
            }
        }

        @include respond(md) {
            font-size: 1.25rem;
            padding: 15px 60px;
        }

        @include respond(us) {
            font-size: 1.125rem;
            padding: 15px 40px;
        }
    }

    &:hover {
    }
}

.page-center {
    max-width: 1920px;
    margin: 0 auto;
}

.layout-center {
    max-width: 1340px;
    margin: 0 auto;

    @include respond(xl) {
        padding: 0 100px;
    }

    @include respond(lg) {
        padding: 0 70px;
    }

    @include respond(sm) {
        padding: 0 30px;
    }

    @include respond(xs) {
        padding: 0 20px;
    }
}

.substrate {
    background-color: rgba(0, 0, 0, 0.75);
}

.bricks {
    width: 0;
    height: 0;
    margin: 0 auto;
    position: relative;
    
}

.cube {
    width: 165px;
    position: absolute;
    display: block;
    z-index: 10;

    @include respond(md) {
        width: 75px;
    }

    &_lg {}

    &_md {
        width: 120px;

        @include respond(md) {
            width: 55px;
        }
    }

    &_sm {
        width: 75px;

        @include respond(md) {
            width: 35px;
        }
    }
}