@import "libs";
@import "variables";
@import "mixin";
@import "default";

.head-section {
    min-height: 100vh;
    background-image: url("../images/head-bg.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 8vh;

    @include respond(md) {
        padding-top: 30px;
        min-height: 390px;
    }

    &__logo-container,
    &__button-container {
        width: 100%;
    } 

    &__logo-container {
        margin-bottom: 20vh;

        @include respond(md) {
            margin-bottom: 90px;
        }
    }

    &__logo {
        display: inline-block;
        width: 750px;
        cursor: default;

        @include respond(md) {
            width: 270px;
        }
    } 

    &__button-container{
        padding: 30px 0;

        @include respond(md) {
            padding: 15px 0;
        }
    }

    .cube {
        &_lg {
            top: 20vh; 
            left: -418px;

            @include respond(md) {
                top: 100px;
                left: -40px;
            }
        }

        &_md {
            top: -10vh;
            left: 295px;

            @include respond(md) {
                top: -40px;
                left: 115px;    
            }

            @include respond(md) {
                left: 95px;    
            }
        }

        &_sm {
            top: -15vh;
            left: -390px;

            @include respond(md) {
                top: -45px;
                left: -145px;
            }
        }
    }
}

.action-card {
    display: flex;
    position: relative;
    z-index: 50;

    @include respond(md) {
        flex-direction: column;
        align-items: center;
    }

    &__image-container,
    &__info {
        flex-basis: 50%;
    }

    &__image-container {
        text-align: center;
    }

    &__image-box {
        display: inline-block;
        max-width: 560px;
        max-height: 420px;
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0; bottom: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            z-index: 1;
        }

        @include respond(md) {
            max-width: 280px;
            max-height: 280px;
        }
    }
    
    &__image {
    }

    &__info {
    }

    &__title {
        font-size: 2.25rem;
        text-transform: uppercase;

        @include respond(md) {
            font-size: 1.875rem;
        }
    }

    &__desc {
        max-width: 550px;
        font-size: 1.125rem;
        line-height: 1.3;

        &:last-of-type {
            margin-bottom: 2.5rem;

            @include respond(sm) {
                margin-bottom: 1.875rem;
            }
        }

        @include respond(sm) {
            font-size: 1rem;
            max-width: 350px;
        }
    }

    &__button-holder {
        @include respond(md) {
            text-align: center;
        }
    }
}

.section {
    position: relative;
    overflow: hidden;
    
    &:before,
    &:after {
        content: "";
        height: 495px;
        display: block;
        position: absolute;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 0;
    }
}

.play-section {
    padding: 160px 0;
    
    @include respond(md) {
        padding: 60px 0 45px;
    }

    &:before {
        width: 795px;
        left: 0;
        background-image: url("../images/tracery-1.png");

        @include respond(md) {
            width: 500px;
            height: 312px;
            top: -40px;
            left: -60px;
        }
    }

    &:after {
        width: 490px;
        right: 0; top: 205px;
        background-image: url("../images/tracery-2.png");

        @include respond(md) {
            top: 445px;
            width: 303px;
            height: 310px;
        }
    }

    .action-card {
        &__info {
            padding-left: 15px;
    
            @include respond(xl) {
                padding-left: 40px;
            }

            @include respond(md) {
                padding-left: 0px;
            }
        }

        &__image-container {
            @include respond(md) {
                margin-bottom: 50px;
            }
        }

        &__image-box {
            &:after {
                left: -10px;
                bottom: -40px;
                height: 130px;
                width: calc(100% + 140px);
                background-image: url("../images/shadow-1.png");

                @include respond(md) {
                    height: 70px;
                    width: calc(100% + 70px);
                    left: -5px;
                    bottom: -15px;
                }

                @include respond(xs) {
                    height: 50px;
                    width: calc(100% + 30px);
                    left: 5px;
                    bottom: -20px;
                }
            }

            @include respond(md) {
                max-width: 280px;
                max-height: 210px;
            }

            @include respond(xs) {
                max-width: 250px;
            }
        }
    }
}

.create-section {
    background-color: $solitude;

    padding: 130px 0 120px;
    
    @include respond(md) {
        padding: 60px 0 45px;
    }

    &:before {
        width: 690px;
        top: auto;
        left: -125px;
        bottom: -200px; 
        background-image: url("../images/tracery-3.png");

        @include respond(md) {
            width: 400px;
            height: 266px;
            left: -45px;
            bottom: -165px;
        }
    }

    &:after {
        width: 400px;
        top: -65px; right: 0px;
        background-image: url("../images/tracery-4.png");
        
        @include respond(md) {
            width: 250px;
            height: 312px;
            top: -85px;
            right: -55px;
        }
    }

    .action-card {
        padding-left: 130px;

        @include respond(lg) {
            padding-left: 0px;
        }

        &__image-container {
            text-align: left;
            
            @include respond(xl) {
                padding-left: 25px;
            }

            @include respond(md) {
                order: -1;
                padding-left: 0px;
                text-align: center;
                margin-bottom: 25px;
            }
        }
    
        &__image-box {
            margin-top: -25px;

            @include respond(md) {
                margin-top: 0px;
            }

            @include respond(xs) {
                width: 230px;
                height: 230px;
            }
    
            &:after {
                left: -45px;
                bottom: 0px;
                height: 190px;
                width: calc(100% + 120px);
                background-image: url("../images/shadow-2.png");

                @include respond(md) {
                    width: calc(100% + 90px);
                    height: 120px;
                    left: -40px;
                    bottom: -7px;
                }

                @include respond(xs) {
                    left: -30px;
                    bottom: -4px;
                }
            }
        }
    }
}

.comments-section {
    min-height: 737px;
    background-image: url("../images/bottom-bg-darken.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    
    @include respond(md){
        min-height: 585px;
    }
    
    @include respond(us){
        min-height: 100vh;
    }

    &__title {
        font-size: 2.25rem;
        padding: 35px 0;
        margin-bottom: 2rem;
        text-align: center;
        color: #ffffff;

        @include respond(md) {
            font-size: 1.875rem;
            padding: 30px 0;
            margin-bottom: 1rem;
        }
    }

    .substrate {
        background-color: rgba(0, 0, 0, 0.66);
    }

    .cube {
        &_lg {
            top: 510px;
            left: -520px;

            @include respond(lg) {
                left: -500px;
            }

            @include respond(md) {
                width: 115px;
                top: 430px;
                left: -220px;
            }

            @include respond(us) {
                left: -190px
            }
        }

        &_md {
            top: -185px;
            left: 375px;

            @include respond(md) {
                width: 85px;
                top: -140px;
                left: 100px;    
            }

            @include respond(us) {
                left: 70px;    
            }
        }

        &_sm {
            top: 35px;
            left: -320px;

            @include respond(md) {
                width: 48px;
                top: 38px;
                left: -147px;
            }
        }

        &_sm-right {
            left: auto;
            top: 350px;
            right: -355px;
            transform: rotate(4deg);

            @include respond(md) {
                top: 330px;
                right: -155px;
            }
        }
    }

    .comments-carousel {
        &__item {}

        .owl-nav {
            display: none !important;
        }
    }

    .author-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__image-box {
            max-width: 250px;
            max-height: 250px;
            margin-bottom: -24px;

            @include respond(md) {
                max-width: 210px;
                max-height: 210px;  
                margin-bottom: -15px;
            }
        }

        &__image {}

        &__info {
            max-width: 675px;
            margin: 0 auto 30px;
            padding: 15px 55px;
            border-radius: 100px;
            background-color: rgba(255, 255, 255, 0.9);

            @include respond(md) {
                max-width: 340px;
                padding: 15px 45px;
                border-radius: 40px;
            }
        }

        &__name {
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            text-transform: uppercase;
            
            @include respond(md) {
                font-size: 0.8125rem;
            }
        }

        &__comment {
            margin-bottom: 30px;
            line-height: 1.315;
            position: relative;

            @include respond(md) {
                font-size: 0.9375rem;
            }

            .icon-quote {
                position: absolute;
                left: -40px;
                top: -10px;
                font-size: 23px;
                color: $light-sea-green;

                @include respond(md) {
                    left: -27px;
                    top: -12px;
                    font-size: 18px;
                }

                &_right{
                    left: auto;
                    right: -25px;
                    top: -13px;
                    transform: rotate(180deg);

                    @include respond(md) {
                        right: -32px;
                    }
                }

            }
        }
    }

}

.controls-holder {
    padding-bottom: 40px;
}

.controls {
    position: relative;
    width: 0;
    height: 40px;
    margin: 0 auto;

    .next,
    .prev {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: -150px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        z-index: 100;
        cursor: pointer;
        text-decoration: none;
        user-select: none;

        @include respond(md) {
            top: 0px;
        }
    }
    
    .next {
        right: -435px;

        @include respond(md) {
            right: -50px;
        }
    }
    
    .prev {
        left: -430px;
        transform: rotate(180deg);

        @include respond(md) {
            left: -50px;
        }
    }

    .icon-right {
        font-size: 20px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer {
    padding: 50px 0;
    font-size: 1rem;
    text-align: center;
    line-height: 1.3;

    @include respond(sm) {
        font-size: 0.875rem;
        padding: 30px 0 10px;
    }

    &:before {
        width: 690px;
        left: 0; top: -250px;
        background-image: url("../images/tracery-5.png");

        @include respond(md) {
            top: -165px;
            left: -20px;
            width: 400px;
            height: 288px;
        }
    }

    &:after {
        width: 755px;
        right: -105px;
        top: -305px;
        background-image: url("../images/tracery-6.png");

        @include respond(md) {
            top: -200px;
            right: -240px;
            width: 500px;
            height: 328px;
        }

        @include respond(xs) {
            right: -250px;
        }

        @include respond(us) {
            display: none;
        }
    }

    &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }

    &__support-text {
        max-width: 560px;
        margin-bottom: 20px;
        line-height: 1.3;

        @include respond (sm) {
            max-width: 320px;
        }
    }

    &__support-email {
        font-weight: bold;
        color: $text-color;
        text-decoration: none;
        margin-bottom: 20px;
        
        &:hover {
            text-decoration: none;
        }
    }

    .contact-list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 20px;

        @include respond(md) {
            flex-direction: column;
        }

        &__item {
            white-space: nowrap;
            margin-right: 60px;
            margin-bottom: 15px;
            vertical-align: middle;

            @include respond(md) {
                margin-right: 0px;
            }
        }

        &__tel {
            color: $text-color;
            text-decoration: none;
        }
        
        &__icon {
            color: $light-sea-green;
            font-size: 20px;
        }

        .icon-location {
            font-size: 15px;
        }
    }

    &__copyrights {
        line-height: 1.3;

        @media only screen and (max-width: 585px) {
            br {
                display: none;
            }            
        }
    }
}